{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-tapis"></div>
<div class="container after_bgContainer">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="text-center">
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="my-3">
                <button class="btn btn-lg btn-blue btn-sm" type="submit">
                    Connexion ma gueule !
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
