{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% if ofTheDay is not null %}
    <div class="jumbotron bg-dark">
        <h1>💩 Paracrote of the day !</h1>
        <div class="row">
            <div class="col-12">
                <p>{{ofTheDay.excuse}}</p>
                <p>
                    Winners : <br>
                    {% for bet in ofTheDay.bets %}
                    <p><a href="{{ path('user_show', {'id': bet.user.id}) }}"><span class="text-blue">@{{bet.user}}</span></a></p>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% for item in data %}
    {% if item.text is defined %}
    <div class="card card-body bg-dark my-2">
        <div class="row">
            <div class="col-2">
                <img src="{{item.author.avatar}}" alt="avatar" width="50px" height="50px" class="miniature">
            </div>
            <div class="col-10">
                <div class="title">
                    <a href="{{ path('user_show', {'id': item.author.id}) }}"><span class="text-blue">@{{item.author}}</span></a>
                     a posté une nouvelle paracrote 💩 :
                </div>
                <p>{{item.text}}</p>
                <p class="text-blue-dark"><small>{{item.createdAt|date('d-m-Y')}}</small></p>
            </div>
        </div>
    </div>
    {% elseif item.excuse is defined %}
    <div class="card card-body bg-dark my-2">
        <div class="row">
            <div class="col-2">
                <img src="{{item.user.avatar}}" alt="avatar" width="50px" height="50px" class="miniature">
            </div>
            <div class="col-10">
                <div class="title">
                    <a href="{{ path('user_show', {'id': item.user.id}) }}"><span class="text-green">@{{item.user}}</span> </a>
                    a paradealé : 
                </div>
                <p>{{item.excuse}}</p>
                <p class="text-blue-dark"><small>à {{item.createdAt|date('h:m:s')}}</small></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}