{% extends 'base.html.twig' %}
{% block title %}Home - ParaCroco{% endblock %}
{% block body %}
{% include "timer.html.twig" %}
<div class="container">
    {% if ofTheDay is not null %}
    <div class="jumbotron bg-dark">
        <h1>💩 Paracrote of the day !</h1>
        <div class="row">
            <div class="col-6">
                <p>{{ofTheDay.excuse}}</p>
                <p>
                    Winners : <br>
                    {% for bet in ofTheDay.bets %}
                    <p><a href="{{ path('user_show', {'id': bet.user.id}) }}"><span
                                class="text-blue">@{{bet.user}}</span></a></p>
                    {% endfor %}
                </p>
            </div>
            <div class="col-6">
                <img src="https://media2.giphy.com/media/kUEojfKNgSH0gnWyhK/giphy.gif" class="img-fluid" alt="">
                <audio src="{{asset('assets/audio/winning.mp3')}}" autoplay></audio>
            </div>
        </div>
    </div>
    {% endif %}
    {% for item in data %}
    {% if item.text is defined %}
    <div class="card card-body bg-dark my-2">
        <div class="text-right">
                💩 
        </div>
        <div class="row">
            <div class="col-2">
                <img src="{{item.author.avatar}}" alt="avatar" width="50px" height="50px" class="miniature">
            </div>
            <div class="col-10">
                <div class="title">
                    <a href="{{ path('user_show', {'id': item.author.id}) }}"><span
                            class="text-blue">@{{item.author}}</span></a>
                    a posté une nouvelle paracrote :
                </div>
                <p>{{item.text}}</p>
                <p class="text-blue-dark"><small>le {{ item.createdAt|format_datetime('short') }}</small></p>
            </div>
        </div>
    </div>
    {% elseif item.excuse is defined %}
    <div class="card card-body bg-dark my-2">
        <div class="text-right">
            🐊
        </div>
        <div class="row">
            <div class="col-2">
                <img src="{{item.user.avatar}}" alt="avatar" width="50px" height="50px" class="miniature">
            </div>
            <div class="col-10">
                <div class="title">
                    <a href="{{ path('user_show', {'id': item.user.id}) }}"><span
                            class="text-green">@{{item.user}}</span> </a>
                    a paradealé :
                </div>
                <p>{{item.excuse}}</p>
                <p class="text-blue-dark"><small>le {{ item.createdAt|format_datetime('short') }}</small></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}