{% extends 'base.html.twig' %}
{% block title %}Home - Croco{% endblock %}
{% block stylesheets %}
<style>
    .album {
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.65);
        width: 225px;
        height: 225px;
        margin-top: 27px;
        position: relative;
        z-index: 10;
    }

    .album .album-art {
        background: #fff url('https://media1.giphy.com/media/kV9HM9LbgrKIu2H3LI/giphy.gif') center / cover no-repeat;
        width: 225px;
        height: 225px;
        position: relative;
        z-index: 10;
    }

    .vinyl {
        animation: spin 2s linear infinite;
        transition: all 500ms;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/vinyl.png'), url('assets/images/logoAure.png');
        background-position: center, center;
        background-size: cover, 40% auto;
        background-repeat: no-repeat;
        border-radius: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        width: 200px;
        height: 200px;
        position: absolute;
        left: 120px;
        top: 10px;
        will-change: transform, left;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if ofTheDay is not null %}
    <div class="jumbotron bg-darkness border-blue">
        <div class="text-center mb-5">
            <h3 class="text-uppercase">Bullshit of the day <br> 💩 </h3>
            <div class="blockquote bg-blue border rounded p-3">
                <p class="mb-0 p-banner">" {{ofTheDay.excuse}} "</p>
                <footer class="blockquote-footer text-right text-white">par
                    <cite title="Source Title">
                        {% if ofTheDay.excuse.author is empty %}
                        bot_deal
                        {% else %}
                        {{ofTheDay.excuse.author}}
                        {% endif %}
                    </cite>
                </footer>
            </div>
            Winners :
            {% for bet in ofTheDay.bets %}
            <a href="{{ path('user_show', {'id': bet.user.id}) }}"><span class="text-red">@{{bet.user}}</span></a>
            {% endfor %}
            <br>
            Bravo le(s) bullshiter(s) 👍
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="album">
                    <div class="album-art"></div>
                    <div class="vinyl"></div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <audio src="{{asset('assets/audio/winning.mp3')}}" autoplay controls></audio>
            </div>
        </div>



        {# <img src="https://media2.giphy.com/media/kUEojfKNgSH0gnWyhK/giphy.gif" class="img-fluid" alt=""> #}

    </div>
    {% endif %}
    {% for item in data %}
    {% if item.text is defined %}
    <div class="card card-body my-2 mt-3 border-blue rounded p-3 bg-darkness">
        <div class="text-right"> 💩 </div>
        <div class="card-header">
            <ul class="card-menu">
                <li><img src="{{item.author.avatar}}" alt="avatar" class="miniature "></li>
                <li>
                    <a href="{{ path('user_show', {'id': item.author.id}) }}" class="text-white">
                        <span class="text-blue">@{{item.author}}</span>
                    </a> a bullshité :
                </li>
            </ul>
        </div>
        <div class="blockquote p-3 text-right bg-blue text-dark bolder p-3 rounded">
            <p class="mb-0">" {{item.text}} "</p>
            <footer class="blockquote-footer text-grey mt-4">
                le <cite title="date">{{ item.createdAt|format_datetime('short') }}</cite>
            </footer>
        </div>
    </div>
    {% elseif item.excuse is defined %}
    <div class="card card-body my-2 mt-3 border-green rounded p-3 bg-darkness">
        <div class="text-right"> 🐊 </div>
        <div class="card-header">
            <ul class="card-menu">
                <li><img src="{{item.user.avatar}}" alt="avatar" class="miniature "></li>
                <li>
                    <a href="{{ path('user_show', {'id': item.user.id}) }}" class="text-white">
                        <span class="text-green">@{{item.user}}</span>
                    </a> a dealé :
                </li>
            </ul>
        </div>
        <div class="blockquote p-3 text-right bg-green text-dark bolder p-3 rounded">
            <p class="mb-0">" {{item.excuse}} "</p>
            <footer class="blockquote-footer text-grey mt-4">
                le <cite title="date">{{ item.createdAt|format_datetime('short') }}</cite>
            </footer>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div style="height: 100px"></div>
{% endblock %}