{% extends 'base.html.twig' %}
{% block title %}Mes deals - CrocoDeal{% endblock %}
{% block body %}
<div class="container">
    {# {% if isWinner == true %}
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-center">
            <img src="{{asset('assets/images/logoAure.png')}}" width="200px" height="200px" alt="logo">
            <audio autoplay controls>
                <source src="{{asset('assets/audio/winning.mp3')}}" type="audio/mp3">
            </audio>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 text-center">
            <img src="https://media1.giphy.com/media/kUEojfKNgSH0gnWyhK/giphy.gif" class="img-fluid" alt="success">
        </div>
        <div class="col-12 text-center">
                <h1>{{ofTheDay.excuse}}</h1>
        </div>
    </div>
    {% endif %} #}
    <div class="text-right">
        {% if app.user.canBet == true %}
        <a href="{{ path('bet_new') }}" class="btn btn-sm btn-blue">Dealer now !</a>
        {% endif %}
    </div>
    {% for bet in bets %}
    {% if bet.isArchived == false %}
    <div class="card card-body bg-darkness border rounded my-2">
        <div class="blockquote p-3 text-right bg-blue text-dark bolder rounded">
            <p class="mb-0">" {{bet.excuse}} "</p>
            <p><small>- dealé le {{ bet.createdAt ? bet.createdAt|date('d-m-Y') : '' }}</small></p>
        </div>
        <small class="text-red">- se termine le {{ bet.finishAt ? bet.createdAt|date('d-m-Y') : '' }}</small>
        <div class="text-right">
            {{ include('bet/_delete_form.html.twig') }}
        </div>
    </div>
    {% else %}
    <div class="card card-body bg-blue border rounded my-2">
        {% if bet.excuse.id == ofTheDay.excuse.id %}
        <h6 class="text-uppercase text-red bolder bg-darkness rounded"><img src="{{asset('assets/images/logoAure.png')}}" alt="logo" class="img-fluid" width="50px"> - Labélisé CROCODEAL gagnant -</h6>
        <hr>
        {% endif %}
        <div class="blockquote p-3 text-right text-dark bolder rounded">
            <p class="mb-0">" {{bet.excuse}} "</p>
            <p><small>- terminé le {{bet.finishAt|date('d-m-Y')}}</small></p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div style="height: 100px"></div>
{% endblock %}