<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}CrocoDeal{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/favicon/favicon-16x16.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12c728ad22.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="text-center mb-0">
        <button type="button" class="btn text-red" data-toggle="modal" data-target="#credits">&copy;</button>
        <a class="nav-link" href="{{path('home')}}"><img src="{{asset('assets/images/logoAure.png')}}" alt="logo"
                width="90px" height="90px"></a>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="creditsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkness">
                <div class="modal-header">
                    <h5 class="bolder text-red">@hackathouse's team vous remercie !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Logo : "Croco" <cite title="Source Title" class="text-red">&copy;Krilline</cite>
                    <br>
                    Model pochette : <cite title="Source Title" class="text-red">&copy;Krilline</cite>
                    <br>
                    Hymne : Paris c'est Gotham <cite title="Source Title" class="text-red">&copy;Usky</cite>
                    <br>
                    Gif pipo : <cite title="Source Title" class="text-red">&copy;Lizzo</cite>
                    <br>
                    Air flûte mission impossible : <cite title="Source Title" class="text-red">&copy;Anonymous</cite>
                    <br>
                </div>
                <div class="modal-body">
                    {% if app.user %}
                    <div class="text-center">
                        <img src="{{asset('assets/images/lascars.jpeg')}}" alt="team" width="350px" height="250px">
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    - Jenny -
                </div>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <nav class="navbar navbar-dark bg-blue fixed-bottom">
        {% if app.user %}
        <a class="nav-link" href="{{path('bet_new')}}"><img src="{{asset('assets/images/logoAure.png')}}" alt="logo"
                width="37px" height="37px"></a>
        <a class="nav-link" href="{{path('excuse_new')}}"><i class="fas fa-pen fa-lg text-darkness"></i></a>
        <a class="nav-link" href="{{path('excuse_list')}}"><i class="fas fa-toilet-paper fa-lg text-darkness"></i></a>
        <a class="nav-link" href="{{path('bet_history')}}"><i class="fas fa-robot fa-lg text-darkness"></i></i></a>
        <a class="nav-link" href="{{path('user_show', {'id': app.user.id})}}"><i
                class="fas fa-toilet fa-lg text-darkness"></i></a>
        <a class="nav-link" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt fa-lg text-darkness"></i></a>
        {% else %}
        <a class="nav-link" href="{{path('app_login')}}"><i class="fas fa-sign-in-alt fa-lg text-darkness"></i></a>
        {% endif %}
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>