{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block body %}
<div class="container">

    <table class="table text-white">
        <thead>
            <tr>
                <th>id</th>
                <th>date</th>
                <th>excuse</th>
                <th>is_active</th>
            </tr>
        </thead>
        <tbody>
        {% for excuse_of_the_day in excuse_of_the_days %}
            <tr>
                <td>{{ excuse_of_the_day.id }}</td>
                <td>{{ excuse_of_the_day.createdAt ? excuse_of_the_day.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ excuse_of_the_day.excuse}}</td>
                <td>{{ excuse_of_the_day.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center">
    <a href="{{ path('excuse_of_the_day_new') }}" class="btn btn-blue">New</a>
</div>
{% endblock %}
