{% extends 'base.html.twig' %}
{% block title %}Bullshits - CrocoDeal{% endblock %}
{% block body %}
<div class="container">
    {% for excuse in excuses|reverse %}
    <div class="card card-body my-2 mt-3 border-blue rounded p-3 bg-darkness">
        <div class="text-right"> 💩 </div>
        <div class="card-header">
            <ul class="card-menu">
                {% if excuse.author.avatar is defined %}
                <li><img src="{{excuse.author.avatar}}" alt="avatar" class="miniature "></li>

                <li>
                    <a href="{{ path('user_show', {'id': excuse.author.id}) }}" class="text-white">
                        <span class="text-blue">@{{excuse.author}}</span>
                    </a> a bullshité :
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="blockquote p-3 text-right bg-blue text-dark bolder p-3 rounded">
            <p class="mb-0">" {{excuse.text}} "</p>
            <footer class="blockquote-footer text-grey mt-4">
                le <cite title="date">{{ excuse.createdAt|format_datetime() }}</cite>
            </footer>
        </div>
        <a href="{{ path('excuse_like', {'id' : excuse.id }) }}" class="btn btn-sm btn-red bolder js-like">
            {% if app.user and excuse.isLikedByUser(app.user) %}
            <i class="fas fa-thumbs-up"></i>
            {% else %}
            <i class="far fa-thumbs-up"></i>
            {% endif %}
            <span class="js-link-count">{{ excuse.likes | length }}</span>
            {% if app.user and excuse.isLikedByUser(app.user) %}
            <span class="js-link-label">JE N'AIME PLUS</span>
            {% else %}
            <span class="js-link-label">J'AIME</span>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
<div style="height: 100px"></div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.querySelectorAll('a.js-like').forEach(link => {
        link.addEventListener('click', e => {
            e.preventDefault()
            var spanCount = link.querySelector('span.js-link-count')
            var spanLabel = link.querySelector('span.js-link-label')
            var icone = link.querySelector('i')
            axios.get(link.href)
                .then(response => {
                    spanCount.textContent = response.data.likes
                    if (icone.classList.contains('fas')) {
                        icone.classList.replace('fas', 'far')
                        spanLabel.textContent = "J'AIME"
                    } else {
                        icone.classList.replace('far', 'fas')
                        spanLabel.textContent = "JE N'AIME PLUS"
                    }
                }).catch(error => {
                    if (error.response.status === 403) {
                        window.alert("Vous ne pouvez pas liker un article si vous n'êtes pas connecté !")
                    }
                })
        })
    })
</script>
{% endblock %}