{% extends 'base.html.twig' %}

{% block title %}Excuse{% endblock %}

{% block body %}
    <h1>Excuse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ excuse.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ excuse.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('excuse_index') }}">back to list</a>

    <a href="{{ path('excuse_edit', {'id': excuse.id}) }}">edit</a>

    {{ include('excuse/_delete_form.html.twig') }}
{% endblock %}
